---
import { Button } from '@/components/ui/button'
import { Icon } from 'astro-icon/components'
---

<Button
  variant="outline"
  size="icon"
  className="group fixed bottom-8 right-8 z-50 hidden"
  id="scroll-to-top"
  title="Scroll to top"
  aria-label="Scroll to top"
>
  <Icon
    name="lucide:arrow-up"
    class="mx-auto size-4 transition-all group-hover:-translate-y-0.5"
  />
</Button>

<script>
  document.addEventListener('astro:page-load', () => {
    const scrollToTopButton = document.getElementById('scroll-to-top')
    const footer = document.querySelector('footer')

    if (scrollToTopButton && footer) {
      scrollToTopButton.addEventListener('click', () => {
        window.scrollTo({ top: 0, behavior: 'smooth' })
      })

      window.addEventListener('scroll', () => {
        const footerRect = footer.getBoundingClientRect()
        const isFooterVisible = footerRect.top <= window.innerHeight

        scrollToTopButton.classList.toggle(
          'hidden',
          window.scrollY <= 300 || isFooterVisible,
        )
      })
    }
  })
</script>
